#list {
  display: grid;
  grid-template-columns: 240px 1fr;
}
#list ol {
  font-weight: bold;
  width: 180px;
  margin-top: 0px;
  margin-left: 20px;
  padding: 20px;
  color:#666362;
}
#list ul {
  padding: 0;
  margin-left: 20px;
}
#list .explain {
  padding: 20px;
}
#list #background1 {
  background-image: url('Telecommunication.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-left: 1px solid gray;
}
#list #background2 {
  background-image: url('ctfl.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
  border-left: 1px solid gray;
}
#list #background3 {
  background-image: url('mobile testing.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  border-left: 1px solid gray;
}
#list .main_page {
  display: inline;
  border: 1px solid black;
  color:white;
  background-color: gray;
  margin-left: 30px;
}
.music {
  display:block;
  margin-top: 200px;
}
h1 {
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid gray;
  margin:0;
  padding: 20px;
}
a {
  text-decoration: none;
}

@media(max-width: 800px){
  #list {
    display: block;
  }
  #grid #background1 {
    border-right: none;
  }
  #grid #background2 {
    border-right: none;
  }
  #grid #background3 {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
